ol li{
    background-color: yellow;
}

.impar{
    color: green;
}

.par{
    text-transform: uppercase;
}

h1, h2, h3 {
    color:red
}

h1 em, h2 em, h3 em {
    border: 1px solid black;
    font-size: 40px;
}

li{
    font-size: 20px;
}

li em{
    font-weight:bold;
}

#linguagens li:not(:nth-child(n + 4)) {
    color: blue;
}

.pink {
    background-color: pink;
}

#parceiros li:hover {
    font-weight: 700;
}

#parceiros li a[href*="stackoverflow"]:hover {
    color:orange;
}

#parceiros li a[href*="w3schools"]:hover {  
    color:green;
}

#parceiros li a[href*="mozilla"]:hover {
    color:black;
}

#parceiros li a[href*="devdocs"]:hover {
    color:yellow;
}

  #parceiros li a[href*="trybe"]:hover {
    color:green;
}