* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

.header-img {
  width: 70px;
}

.gallery-img {
  width: 150px;
  display: flex;
}

.social-img {
  width: 25px;
  margin-left: 10px;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  background-color: rgb(80, 80, 80);
}

h3 {
  color: rgb(168, 168, 168);
  text-decoration: underline;
}

#paragrafo{
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}

#fotos{
  display: grid;
  grid-template-columns: repeat(3, 200px);
  /* width: 100vw; */
  justify-content: center;
  align-items: center;
  justify-items: center;
  height: 500px;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(199, 199, 199);
  height: 220px;
  width: 190px;
  border-radius: 10%;
  box-shadow: 4px 5px 4px 0px rgba(0,0,0,0.67);
-webkit-box-shadow: 4px 5px 4px 0px rgba(0,0,0,0.67);
-moz-box-shadow: 4px 5px 4px 0px rgba(0,0,0,0.67);
}

footer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 30px;
}