* {
    margin: 0;
    padding: 0;
  }

.paragrafo1{
    width: 700px;
    text-align: justify;
}

h1 {
    background-color: rgb(43, 15, 56);
    color: white;
    padding-left: 30px;
}

#links ul li {
    display: inline-block;
    margin-left: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
    color: white;
}

#links {
    background-color: rgb(84, 84, 158);
    padding-top: 2px;
}

div {
    margin-left: 350px;
    margin-right: 350px;
    background-color: white;
}

body{
    background-color: rgb(85, 23, 114);
    font-size: 17px;
    line-height: 30px;
}

#artigo {
    width: 700px;
    text-align: center;
    margin-left: 10px;
    display: inline-block ;
}

h2 {
    font-size: 1.7em;
    margin-bottom: 20px;
    margin-top: 20px;
    text-decoration:underline;
}

h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.5em;
}
table{
    margin-left: 70px;
    margin-top: 10px;
    margin-bottom: 20px;
}
table, td{
    text-align: center;
    border:1px solid;
}

aside {
    display: inline-block;
    float: right;
    margin-right: 40px;
    margin-top: 20px;
    text-align: center;
    background-color: grey;
    padding-left: 20px;
    line-height: 50px;
}