* {
    margin: 0;
    padding: 0;
  }

.paragrafo1{
    width: 100%;
    text-align: justify;
}

h1 {
    background-color: rgb(43, 15, 56);
    color: white;
    padding-left: 30px;
}

#links ul li {
    display: inline-block;
    margin-left: 3%;
    margin-bottom: 1%;
    margin-top: 1%;
    color: white;
}

#links {
    background-color: rgb(84, 84, 158);
    padding-top: 1%;
}

div {
    margin-left: 20%;
    margin-right: 20%;
    background-color: rgb(255, 255, 255);
}

body{
    background-color: rgb(85, 23, 114);
    font-size: 17px;
    line-height: 30px;
}

#artigo {
    width: 70%;
    text-align: center;
    margin-left: 10px;
    display: inline-block ;
}

h2 {
    font-size: 1.7em;
    margin-bottom: 20px;
    margin-top: 20px;
    text-decoration:underline;
}

h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.5em;
}
table{
    margin-left: 7%;
    margin-top: 1%;
    margin-bottom: 2%;
}
table, td{
    width: 80%;
    border:1px solid;
}

aside {
    display: inline-block;
    float: right;
    margin-right: 2%;
    margin-top: 2%;
    text-align: center;
    background-color: grey;
    padding-left: 2%;
    line-height: 50px;
    border: 1px solid black;
}

footer {
    margin-top: 2%;
    text-align: center;
    color: white;
    margin-bottom: 1%;
}